body {
  background-color: rgb(117, 117, 117);
}

#cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  height: 100px;
  width: 200px;
  transform: rotate(90deg);
  margin: 100px 40px;
}

#heading-text {
  color: rgb(226, 226, 226);
  font-size: 50px;
  padding-top: 10px;
  text-align: center;
}

#intro-bar {
  display: flex;
  flex-direction: row;
}

#time-left,
#flips-left {
  margin-left: 20vw;
  font-size: 30px;
  color: rgb(187, 187, 187);
  display: flex;
  flex-direction: row;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#time,
#flips {
  margin-left: 1vw;
  margin-top: 44px;
}

#level {
  text-align: center;
  color: whitesmoke;
  font-family: "BhuTuka Expanded One", cursive;
  margin-left : 5vw;
  margin-top: 3.5vh;
}
